<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <div class="navigation">
        <div class="header-link"><a href="/commodity_expert/products">Products</a></div>
        <div class="header-link"><a href="/?language=en">English</a></div>
        <div class="header-link"><a href="/?language=ua">Ukrainian</a></div>
        <div class="header-link"><a href="/logout">Log Out</a></div>
    </div>
</header>
</body>
</html>