.content-form {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.authorization-form {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

.btn-wrapper {
    text-align: center;
}

footer {
    margin-top: 100px;
}

.mr-auto {
    margin-left: auto;
}

.flex-sa {
    display: flex;
    justify-content: space-around;
}

.content-red {
    color: #ff0000;
}