<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div th:replace="fragments/guestHeader :: header">...</div>
<p>Касовий апарат

    Існують ролі: касир, старший касир, товарознавець.
    Товарознавець може створювати товари та зазначати їх кількість на складі.
    Касир має можливість:
    - створити замовлення (чек);
    - додати обрані товари по їх коду або по назві товару у замовлення;
    - вказати / змінити кількість певного товару або вагу;
    - закрити замовлення (чек).
    Старший касир має змогу:
    - відмінити чек;
    - відмінити товар в чеку;
    - зробити  X і Z звіти.
</p>
<div th:replace="fragments/footer :: footer">...</div>
</body>
</html>