<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="#{activeOrders}"></title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/convertCoinsToBill.js}"></script>
</head>
<body onload="convertCoinsToBill()" class="d-flex flex-column min-vh-100">
    <div th:replace="partials/seniorCashierHeader :: nav"></div>
    <div class="content-form">
        <div class="flex-sa mb-5">
            <form action="/senior_cashier/reports/x" method="get">
                <button type="submit" class="btn btn-secondary btn-lg" th:text="#{report.x}"></button>
            </form>
            <form action="/senior_cashier/orders" method="post">
                <button type="submit" class="btn btn-primary btn-lg" th:text="#{newOrder}"></button>
            </form>
            <form action="/senior_cashier/reports/z" method="get">
                <button type="submit" class="btn btn-secondary btn-lg" th:text="#{report.z}"></button>
            </form>
        </div>
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col" th:text="#{creationDate}"></th>
                <th scope="col" th:text="#{totalPrice}"></th>
                <th scope="col" th:text="#{cancelOrder}"></th>
                <th scope="col" th:text="#{closeOrder}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order: ${orders}">
                <th scope="row">
                    <a th:href="@{/senior_cashier/orders/} + ${order.id}" th:text="${order.id}"></a>
                </th>
                <td th:text="${order.createDate}"></td>
                <td th:text="${order.totalPrice}" class="priceToParse"></td>
                <td>
                    <form th:action="@{/senior_cashier/orders/cancel/} + ${order.id}" method="post">
                        <button type="submit" class="btn btn-outline-danger btn-sm">[[#{cancel}]]</button>
                    </form>
                </td>
                <td>
                    <form th:action="@{/senior_cashier/orders/close/} + ${order.id}" method="post">
                        <button type="submit" class="btn btn-outline-success btn-sm">[[#{close}]]</button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="partials/footer :: footer"></div>
</body>
</html>