<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
            integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
            crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="partials/commodityExpertHeader :: nav"></div>
    <form action="/commodity_expert/products" method="post">
        <label>
            Code: <input type="text" placeholder="code" name="code">
        </label>
        <label>
            Name: <input type="text" placeholder="name" name="name">
        </label>
        <label>
            Price: <input type="number" placeholder="price" name="price">
        </label>
        <label>
            Amount: <input type="number" placeholder="amount" name="amount">
        </label>
        <label for="measure">Measure: </label><select name="measure" id="measure">
            <option th:each="measure: ${measures}" th:value="${measure.name()}">
                [[${measure.name()}]]
            </option>
        </select>
        <input type="submit" value="Add">
    </form>
    <div th:each="product: ${products}">
        <form th:action="@{/commodity_expert/products/} + ${product.id}" method="post">
            <span>[[${product}]]</span>
            <input type="number" name="amount">
            <input type="submit" value="Set">
        </form>
    </div>
    <div th:replace="partials/footer :: footer"></div>
</body>
</html>