<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration</title>
</head>
<body>
    <p>Registration page</p>
<!--    <p th:if="${error_message}">${error_message}</p>-->
    <form action="/registration"  method="post">
        <div><label> First name : <input type="text" name="firstName"/></label></div>
        <div><label> Last name : <input type="text" name="lastName"/></label></div>
        <div><label> Email : <input type="email" name="email"></label></div>
        <div><label> Phone number : <input type="tel" name="phoneNumber"></label></div>
        <div><label> Username(your login) : <input type="text" name="username"/></label></div>
        <div><label> Password: <input type="password" name="password"></label></div>
        <div>
            <select name="role" id="role">
                <option th:each="position: ${positions}" th:value="${position.name()}">
                    [[${position.name()}]]
                </option>
            </select>
        </div>
        <div><input type="submit" value="Registration"/></div>
    </form>
    <a href="/login">Login</a>
</body>
</html>